<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.lpsp.wechat.manage.mapper.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.lpsp.wechat.manage.model.Template" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="WT_TEMPLATE_ID" property="templateId" jdbcType="VARCHAR" />
    <result column="WT_BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="WT_CONTENT" property="content" jdbcType="VARCHAR" />
  </resultMap>
</mapper>