em, h1, h2, h3, h4, h5, h6, i {
  font-weight: 400
}

button, img {
  border: none
}

.popup {
  display: none
}

blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

img {
  display: inline-block
}

address, cite, dfn, em, i, var {
  font-style: normal
}

li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1, h2, h3 {
  font-size: 14px
}

h4, h5, h6 {
  font-size: 100%
}

button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

body {
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  line-height: 24px;
  font: 12px '\5FAE\8F6F\96C5\9ED1', Tahoma, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto
}

a {
  color: #444;
  text-decoration: none
}

a:hover {
  color: #999
}

a cite {
  *cursor: pointer
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

*.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pos-rel {
  position: relative;
}

a {
  text-decoration: none;
  color: #003399;
}

a:hover {
  color: #ff6600;
}

.ft14 {
  font-size: 14px;
}

.pd1 {
  padding: 1px !important;
}

.pd3 {
  padding: 3px !important;
  box-sizing: border-box;
}

.pt10 {
  padding-top: 10px;
}

.pd10 {
  padding: 10px;
}

.pd20 {
  padding: 20px;
}

.pdr30 {
  padding-right: 30px;
}

.mr4 {
  margin-right: 4px;
}

.mt5 {
  margin-top: 5px !important;
}

.mt6 {
  margin-top: 6px;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px;
}

.mt33 {
  margin-top: 33px;
}

.mt45 {
  margin-top: 45px;
}

.mt80 {
  margin-top: 80px;
}

.mr40 {
  margin-right: 40px;
}

.mlr5 {
  margin: 0 5px 0 5px;
}

.mt40 {
  margin-top: 40px;
}

.mt120 {
  margin-top: 120px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml40 {
  margin-left: 40px;
}

.ml60 {
  margin-left: 60px;
}

.ml20 {
  margin-left: 20px;
}

.ml120 {
  margin-left: 120px;
}

.ml320 {
  margin-left: 500px;
}

.mb-10 {
  margin-bottom: -10px !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px
}

.mr5 {
  margin-right: 5px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr90 {
  margin-right: 90px;
}

.mlr5 {
  margin: 0 5px 0 5px;
}

.pdl90 {
  padding-left: 90px;
}

.pdl70 {
  padding-left: 70px;
}

.pdt0 {
  padding: 0 !important;
}

.pdt0 {
  padding-top: 0;
}

.inline-block {
  display: inline-block;
}

.w-120 {
  width: 120px;
}

.mod {
  width: 1000px;
  margin: 0 auto;
}